.DS_Store

# Cache directories and byte-code files
*.py[cod]
__pycache__/
.pytest_cache/

# Environment variables (automatically loaded by pipenv)
.env

# Distribution directories and files
dist/
build/
*.egg-info
*.spec

# Static files collected with "manage.py collectstatic"
static/

# JS modules
node_modules/

# Uploaded files
media
!media/.gitkeep

# Development database
db.sqlite3

# Editor directories and files
.idea
.vscode

# Coverage reports
htmlcov
.coverage

# Other
*.pem


venv
**.pkl

pip-wheel-metadata/
docs/build/
*/migrations/*
!*/migrations/__init__.py