bokeh~=2.0
bs4~=0.0
Django~=3.1
djangorestframework~=3.12
django-extensions~=3.0
django-filter~=2.4
nibabel~=3.1
nipype~=1.5
numpy~=1.19
tqdm~=4.40
niwidgets~=0.2
scikit-learn~=0.22
git+https://github.com/TheLabbingProject/django_analyses.git@master#egg=django_analyses
git+https://github.com/TheLabbingProject/django_dicom.git@master#egg=django_dicom
git+https://github.com/ZviBaratz/dicom_parser.git@master#egg=dicom_parser
